page-home {
    background-color: red;
}

button {
    background-color: red;
}

.botones{
    //background-image: url(../../assets/imgs/OpenShift-LogoType.svg.png);
    
}

/*
.divprueba{
    background-image: url(../../assets/imgs/OpenShift-LogoType.svg.png);
    width: 400px;
    height: 400px;
}
*/